body {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 5px;
	background-size: 100%;
}

legend {
	font-size: 25px;
	color: #ccFFcc;
    background-color: rgb(139,0,0);
}


body {
 background-image: url(Dany.png);
 background-repeat: no-repeat;
 width: 100%;
 height: 100%;
 position: absolute;
}

#name {
	font-size: 25px;
	color: #FFFFcc;
	
}

#name:hover { color: rgb(204,255,204);
			  background-color:  rgb(139,0,0)} */

